<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DIO - Digital Innovation One</mat-card-title>
      <mat-card-subtitle>@digitalinnovation.one</mat-card-subtitle>
    </mat-card-header>
    <mat-card class="apresentacao">
    <img src="./assets/images/santander_02.jpg" alt="Curso Full Stack Developer">
    </mat-card>
    <mat-card-content>
      <p><b>
            A parceria entre a <i><font color="green">DIO e o Grupo Santander</font></i> trás para você o curso mais completo do mercado. Onde você terá acesso
        a um mundo de oportunidades com professores altamente capacitados que atuam na área, trazendo as reais dificuldades do mercado. E o melhor, tudo de <u>forma
        totalmente gratuita.</u>
      </b></p>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" onclick="Dialogo()">LIKE</button>
      <input type="button" value="SHARE">
      <input type="button" value="SUBSCRIBE">
      <input type="button" value="DIO PRO">
    </mat-card-actions>

  </mat-card>


  