.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('../home/images-home/logo_3.png');
    background-size: cover;
  }

  .apresentacao {
    max-width: 400px;
    text-align: center;
    border: 2px;
    background-color: burlywood;
  }

  .mat-card-content {
    font-size: larger;
    text-align: justify;
  }

  .mat-card-actions {
    margin: 0 8px;
  }